*{
    margin:0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: candara ;
    font-size: 18px;
}
.container{
    width: 60%;
    margin: 40px auto;
    /* background: rgb(250, 250, 250); */
}
.info{
    position: relative;

}
.img{
    position:absolute;
    right:0px;
    top: 0px
}
.name{
    font-size: 35px;
}
tr{
    font-size: 18px;
    margin-top: 20px
}
.pro{
    margin-bottom: 50px;
}
.profile{
    font-size:25px;
    text-align: center;
    margin-top: 80px
}
.profile-details{
    font-size:18px;
    text-align: justify;
    margin-top: 10px
}
.grid-container {
    display: grid;
    grid-template-columns: 100px 550px auto;
}
.grid-container-skill{
    display: grid;
    grid-template-columns: 350px 350px 350px;
}
.grid-container2{
    display: grid;
    grid-template-columns: 100px 400px  100px 400px;
}

.list{
    margin-top:10px;
    margin-left: 40px
}
.list_in{
    margin-top:10px;
    margin-left: 40px
}
.list p{
    display: inline;
}
.project{
    margin-top:30px
}